.search-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;

}

input {
    padding: 12px;
    color: white;
    font-size: 1.1rem;
    border: 2px solid #f9f9f9;
    border-radius: 8px;
    width: 100%;
}

.option-list {
    list-style: none;
    padding: 0px;
    margin: 0px;
    background: white;
    color: black;
    border: 1px solid #ddd;
    border-top: none;
    top: 100px;
    left: 40px;
    right: 40px;
    z-index: 10;
}

.option-list li {
    padding: 10px;
    cursor: pointer;
    text-align: left;
    color: black;
}

.option-list li:hover {
    background-color: #cacaca;
    color: #007bff;
}
