.city-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

.city-page-header {
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 10px 0px 0px 0px;
}

.weather-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    width: 100%;
    gap: 20px;
    /* border: 1px solid blue */
}

.month-card {
    padding: 12px;
    border: 1px dotted #ddd;
    border-radius: 25px 0px;
    text-align: center;
    /* border: 1px solid green; */
}