.city-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

.weather-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    width: 100%;
    gap: 20px;
}

.month-card {
    padding: 12px;
    border: 1px dotted #ddd;
    border-radius: 25px 0px;
    text-align: center;
}