.city-page {
    min-height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    padding-top: 10vh;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

.city-text {
    margin: 50px;
}

.city-page-header {
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 10px 0px 0px 0px;
}

.weather-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    width: 100%;
    gap: 20px;
    /* border: 1px solid blue */
}

.month-card {
    color: white;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 25px 0px;
    text-align: center;
    /* border: 1px solid green; */
}