.home-page {
    min-height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 1px solid red;
}

.home-body {
    color: black;
    padding: 20px 80px;
    border: 1px solid blue;
    border-radius: 16px;

    max-width: 500px;
    text-align: center;
}